.git/
.gitignore
.env
.env.example
.editorconfig
.python-version
.venv/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
.cursor/
.idea/
.vscode/

__pycache__/
*.py[cod]
*.egg-info/

tests/
docs/
bamboo-specs/
htmlcov/
coverage.xml
*.md
docker-compose.yml
